html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding-top: 20px;
}
/* Background image manipulation starts here; image is copyright of Matt W Moore */
/* Index screen background assignment here */
.primary-background {
  background-image: url("primary-bg.jpg");
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-header {

    font-family: "Guardian Egyptian Headline", Georgia, serif;
    font-size: 25px;
    text-align: center;
    color: white;

    flex-wrap: wrap;

}

div, h2, p, span {
   font-family: "Guardian Egyptian Text", Georgia, serif;
   line-height: 1.5
}
/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:hover {
    background-color: #EEE;
    cursor: pointer;
}

.deck .card.open {
    font-size: 33px;
    transform: rotateY(0);
    background: #02b3e4;
    display: flex;
    cursor: default;
    align-items: center;

}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Pop up
 */
.modal {
    display: none;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    max-width: 360px;
    padding : 40px;
    margin: 5em auto;
    border-radius: 10px;
    background-color: cyan;

}

.modal-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
}


.modal-message {
    font-size: 1em;
    font-weight: 25;
    text-align: center;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    background-color: white;
    text-align: center;
    width: 500px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li,
 .modal .modal-content .modal-star-display-element {
    list-style: none;
    color: gold;
    line-height: 25px;
    display: inline-block;
    align-items: center;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
